.search-btn {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-btn form {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 25px;
  padding: 5px;
  box-shadow: 0 2px 5px var(--shodow-dark);
}

.search-btn input {
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 16px;
  flex: 1;
  border-radius: 25px 0 0 25px;
}

.search-btn button {
  border: none;
  background-color: var(--yellow-1);
  color: var(--blue-1);
  padding: 10px 15px;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.search-btn button:hover {
  background-color: var(--blue-2);
  color: var(--white);
}